$colorAzulGradient: #121e6c;
$colorRojoGradient: #ee424e;
$colorAzul: #111e6c;
$colorBlanco: #ffffff;
$colorNaranja:#ef434e;
$Font:Montserrat-Medium;


@mixin contenedor-elemento{
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
}
@mixin iconUser{
    width: 59px;
    height: 59px;
    object-fit: contain;
    top: 10px;
    left: 10px;
    position: relative;
}

.contenedorRanking{
    width: 100%;
    height: auto;
    background-image: radial-gradient(circle at 3% 5%, $colorRojoGradient, $colorAzulGradient 42%);


    .contenedorTopSuperior{
        height: 50vh;
        display: flex;
        justify-content: center;
        .primerPuesto,.segundoPuesto, .tercerPuesto{
            background-color: $colorBlanco;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            position: relative;
            top: 50%;
            img{
                @include iconUser;
            }
        }

        .primerPuesto{
            top: 15%;
            margin: 50px;

            width: 100px;
            height: 100px;

            img{
                width: 79px;
                height: 79px;
            }
           
        }


       
    }

    .contenedorTopInferior{
        padding-bottom: 150px;
        .elementoRanking{
            background-color: $colorBlanco;
            @include contenedor-elemento;
    
            h5{
                font-family: $Font;
                color: $colorAzul;
            }
    
    
            .contenedorReferidos{
                margin-right: 19px;
            }
    
    
    
            .contenedorPosicion{
                width: 36px;
                border-radius: 50%;
                background-color: $colorNaranja;
                height: 29px;
                margin-top: 12px;
                margin-left: 10px;
                padding-top: 6px;
                h5{
                    color: $colorBlanco;
                    margin: 3px;
                }
            }
        }
        .contenedorHeader,.contenedorFooter{
            font-family: Montserrat-ExtraLight;
            @include contenedor-elemento;
            color: $colorBlanco;
            border: 1px solid #ffffff;
            height: 31px;
            h5{
                top: 0;
                margin: 8px;
            }
        }

        .contenedorFooter{
            height: 45px;
            border: 3px solid #ffffff;
            cursor: pointer;
            h5{
                margin: auto;
                font-family: $Font;
            }
        }
    }
        
   
}

   