

.contenedorFormularioCol{
    display: flex;
    justify-content: center;
}


.contenedorRankingCol{
    height: 100vh;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .contenedorRankingCol{
        height: unset;
        overflow: unset;
    }
}
